<div class="form-container">

  <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>

  <form class="login" #formData='ngForm' (ngSubmit)="onSubmit(formData)">

    <p>
      <span _ngcontent-apn-8="" class="fa fa-envelope" id="envelope"></span>
      <input type="text" placeholder="Email address.." (ngModel)="email" name="email" class="txt" required>
    </p>
    <input type="password" placeholder="Password" (ngModel)="password" name="password" class="txt" required>

    <button type="submit" [disabled]="!formData.valid" class="basic-btn">Login</button>
    <!--<a routerLink="/signup" class="alc">Don't have an account?</a>-->
  </form>
</div>
